<template>
    <div>
        <h2>{{ $t('lines.pando.name') }}</h2>
        <p>{{ $t('lines.pando.desc') }}</p>

        <h2>{{ $t('lines.royal.name') }}</h2>
        <p>{{ $t('lines.royal.desc') }}</p>

        <h2>{{ $t('lines.princess.name') }}</h2>
        <p>{{ $t('lines.princess.desc') }}</p>

        <h2>{{ $t('lines.cunard.name') }}</h2>
        <p>{{ $t('lines.cunard.desc') }}</p>
    </div>
</template>

<script>
    export default {
        name: "lines"
    }
</script>

<style scoped>
    p {
        text-align: center;
        margin: 5px 40px 5px 40px;
    }

    h2 {
        margin: 10px 0 10px 0;
    }
</style>