<template>
    <div class="changer">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Language</label>
            </div>
            <select class="custom-select" v-model="$i18n.locale" id="inputGroupSelect01">
                <option v-for="(lang, i) in langs" :key="`Lang${i}`" :value="lang">{{ lang }}</option>
            </select>
        </div>
    </div>
</template>

<script>
    export default {
        name: "locale-changer",
        data () {
            return { langs: ['en', 'ge', 'fr']}
        }
    }
</script>

<style scoped>
    .changer {
        padding-top: 5px;
    }
</style>