<template>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ $t('nav.home') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ $t('nav.lines') }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{ $t('nav.contactUs') }}</a>
                </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <localeChanger></localeChanger>
            </ul>
        </div>
    </nav>
</template>

<script>
    import localeChanger from './locale-changer'

    export default {
        name: "nav-bar",
        data(){

        },
        components: {
            localeChanger
        }
    }
</script>

<style scoped>
    nav {
        margin-bottom: 10px;
    }
</style>