<template>
  <div id="app">
    <nav-bar></nav-bar>
    <h1>{{ $t('message.title') }}</h1>
    <p class="">{{ $t('message.paragraph') }}</p>

    <h1>{{ $t('nav.lines') }}:</h1>
    <lines></lines>
    <h1>{{ $t('nav.contactUs') }}</h1>
    <p>{{ $t('message.email') }} Email@email.com</p>
    <p>{{ $t('message.call') }} 012346778567</p>

  </div>
</template>

<script>
import localeChanger from './components/locale-changer.vue'
import lines from './components/lines.vue'
import navBar from './components/nav-bar.vue'

export default {
  name: 'app',
  data () {

  },
  components: {
    localeChanger,
    navBar,
    lines
  },
  methods: {
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
</style>
